<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict GOLD Price Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    <input type="text" name="colour2" value="0" class="noneq" />
    <input type="text" name="colour1" value="0" class="noneq" />
		<input type="text" name="sub_category" value="0" class="noneq" />
    <input type="text" name="category_id" placeholder="category_id" required="required" />
    <input type="text" name="type" value="0" class="noneq" />
    <input type="text" name="user_id" value="0" class="noneq"/>
    <input type="text" name="brand" value="0" class="noneq" />
    <input type="text" name="buyer" value="0" class="noneq" />
    <input type="text" name="month" placeholder="month" required="required" />
    <input type="text" name="price_id" placeholder="price_id" required="required"/>
    
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
